@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.choose {
	display: grid;
	gap: s.space(5)
}

.choose__item {
	display: grid;
	grid-template-columns: 55px 1fr;
	gap: s.space(5)
}

.choose__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}