@use '../../lib/service.scss' as s;

.card {
	display: flex;
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(8);

	&__header {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: s.space(1);
	}

	&__subtitle {
		font-size: 16px;
		font-weight: normal;
		padding-bottom: s.space(1);
	}

	&__button {
		text-align: center;
		background-color: s.color(main);
		color: white;
		border: none;
		border-radius: 10px;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}