{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<mein class="mein">
	<div class="form">
		<div class="form__card">
			<h2 class="form__title-mini">Дія виконана</h2>
			<p class="form__text">{{info}}</p>
		</div>

		<a href="/product-create" class="form__button">Повернутися назад</a>
	</div>
</mein>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}