@use '../../lib/service.scss' as s;

.form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: s.space(3);
	padding: 50px;

	&__card {
		display: flex;
		flex-direction: column;
		border: 1px solid s.color('light');
		border-radius: 5px;
	}

	&__title {
		padding: s.space(2);
		font-size: 22px;
		font-weight: bold;
		padding-bottom: s.space(2);
	}

	&__description {
		padding: s.space(2);
		font-size: 16px;
		font-weight: normal;
	}

	&__id {
		padding: s.space(2);
		font-size: 16px;
		font-weight: normal;
		color: grey
	}

	&__bottom {
		padding: s.space(2);
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__price {
		font-size: 18px;
		position: left;
		font-weight: bold;
	}

	&__button {
		// position: relative;
		right: -50px;
		// justify-content: right;

		color: blue;
		font-size: 16px;
		font-weight: normal;
	}
}